/* MARK: DEFAULT */

body  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  header {
    background-color: blueviolet;
    color: bisque;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  label {
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: bold;
    color: slategray;
  }
  
  button {
    background-color: rgb(129, 89, 167);
    color: bisque;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
  }
  
  button:hover {
    background-color: rgb(147, 85, 206);
    color: bisque;
  }
  
  button:active {
    transform: translateY(3px);
    background-color: rgb(132, 0, 255);
  }
  
  /* MARK: ID */
  #inputField {
    outline: none;
    font-size: 18px;
    border-radius: 8px;
    border: solid slategray;
    padding: 10px;
  }
  
  #outputField {
    outline: none;
    font-size: 18px;
    border-radius: 8px;
    border: solid slategray;
    padding: 10px;
  }
  
  /* MARK: CLASS */
  #inputField:focus {
    border: solid cornflowerblue;
  }
  
  .InputSection {
    display: flex;
    flex-direction: column;
  }
  
  .InputButtonSection {
    display: flex;
    flex-direction: row;
    align-self: center;
  }
  
  #outputField:focus {
    border: solid cornflowerblue;
  }
  
  .OutputSection {
    display: flex;
    flex-direction: column;
  }
  
  